<div class="container">
    <app-card title="Add or edit a Car">
      <div class="container">
        <form action="">
         
              <label for=""> Enter a Id </label>
              <input
                required
                name="name"
                type="text"
                class="form-control"
                id="name"
              />
        
           
              <label for=""> Enter a name</label>
              <input
                required
                name="name"
                type="text"
                class="form-control"
                id="name"
              />
           
     

            <div class="row">
              <div class="col ml-4">
                <button class="btn btn-secondary">Cancel</button>
                <button class="btn btn-primary"> Save</button>
              </div>
            </div>

        
        </form>
      </div>
    </app-card>
  </div>
  



