<div class="container">
  <app-card title="Add or edit a Car">
    <div class="container">
      <form action="">
        <div class="row">
          <div class="col-sm-4">
            <label for=""> Enter a carNumber </label>
            <input
              required
              name="name"
              type="text"
              class="form-control"
              id="name"
            />
          </div>
          <div class="col-sm-4">
            <label for=""> Enter a brand
            </label>
            <input
              required
              name="name"
              type="text"
              class="form-control"
              id="name"
            />
          </div>
          <div class="col-sm-4">
            <label for=""> Enter a fuelType</label>
            <select name="" required  class="form-control"
            id="category">
            <option selected disabled value="">Choose...</option>
            <option></option>
          </select>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <label for=""> Enter a number </label>
            <input
              required
              name="name"
              type="text"
              class="form-control"
              id="name"
            />
          </div>
          <div class="col-sm-4">
            <label for=""> Enter a model</label>
            <input
              required
              name="name"
              type="text"
              class="form-control"
              id="name"
            />
          </div>
          <div class="col-sm-4">
            <label for=""> Enter a transmisionType</label>
            <input
              required
              name="name"
              type="text"
              class="form-control"
              id="name"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <label for=""> Enter a numberOfDoors </label>
            <input
              required
              name="name"
              type="text"
              class="form-control"
              id="name"
            />
          </div>
          <div class="col-sm-4">
            <label for=""> Enter a carCapacity</label>
            <input
              required
              name="name"
              type="text"
              class="form-control"
              id="name"
            />
          </div>
          <div class="col-sm-4">
            <label for=""> Enter a carColor</label>
            <input
              required
              name="name"
              type="text"
              class="form-control"
              id="name"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <label for=""> Enter a priceForDay</label>
            <input
              required
              name="name"
              type="text"
              class="form-control"
              id="name"
            />
          </div>
          <div class="col-sm-4">
            <label for=""> Enter a CarLocation</label>
            <input
              required
              name="name"
              type="text"
              class="form-control"
              id="name"
            />
          </div>
          <div class="col-sm-4">
            <label for=""> Enter a Description</label>
            <input
              required
              name="description"
              type="text"
              class="form-control"
              id="name"
            />
          </div>
          <div class="row">
            <div class="col-md-12 bg-light text-right">
              <button class="btn btn-secondary " routerLink ="/car">Cancel</button>
              <button class="btn btn-primary "> Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </app-card>
</div>
