
<div class="container">
    <app-card title="Add a Car">
      <div class="container">
    <form action="">
      <div class="row">
          <div class="col-sm-4">
              <label for=""> Enter a number </label>
                <input required name="name"  type="text" class="form-control"
                id="name">
          </div>
          <div class="col-sm-4">
           <label for=""> Enter a number </label>
             <input required name="name"  type="text" class="form-control"
             id="name">
      </div>
      </div>
    </form>
    </div>
    </app-card>
    </div>

